<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <header>
      <% include partials/header %>
    </header>

    <h1>This is the index.ejs file in the views directory</h1>

    <footer>
      <% include partials/footer %>
    </footer>
  </body>
</html>
