<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  <body>

    <header>
      <% include partials/header %>
    </header>

    <h1>Welcome to Ada's Pizza Parlor</h1>

    <footer>
      <% include partials/footer %>
    </footer>

  </body>
</html>
