<!-- When rendered in the browser, the /pizza view should:
  - have a list of every pizza flavor
  - the pizza flavors should also have the location and the picture
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title></title>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <h1>Ada's Pizza See All Pizzas Listed Below</h1>
      <section>
        <% pizza.forEach(function(pizza) { %>
          <div>
            <h3> <%= pizza.flavor %> </h3>
            <p> <%= pizza.location %> </p>
            <img src=" <%= pizza.image %> ">
          </div>
        <% }) %>
      </section>
    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
