<!--
  This file should contain the header template like we did for the quotes.
  Bonus! Create a navigation template and include that.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title></title>
  </head>
  <body>
    <nav>
      <a class="nav" href="/">Home</a>
      <a class="nav" href="/pizzas">All Pizza's</a>
    </nav>

    <section id="image">
      <img src="/assets/ada-chef.jpg" alt="picture of ada">
    </section>
  </body>
</html>
