<!--
  This file should contain the header template like we did for the quotes.
  Bonus! Create a navigation template and include that.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title></title>
  </head>
  <body>
    <nav>
      <a class="nav" href="#">Home</a>
      <a class="nav" href="#">All Pizza's</a>
      <a class="nav" href="#">Pizza by Toppings</a>
    </nav>

    <section id="image">
      <img src="/assets/ada-chef.jpg" alt="picture of ada">
    </section>
  </body>
</html>
