body {
  background-image: url("../assets/adasplace.png");
  color: white;
}
header {
}
nav {
  background-color: white;
  display: flex;
  justify-content: center;
}
a {
  text-align: center;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
#image {
  display: flex;
  justify-content: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
}
h1, h3 {
  font-size: 40px;
  text-align: center;
}
p {
  text-align: center;
}
footer {
  font-size: 24px;
  text-align: center;
  font-size: 20px;
}
